/******* General Selectors *******/
body{
    font-size: 16px;
}
.shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.nav-arrow{
    background: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    height: 17px;
    width: 15px;
    border: solid #121212;
    border-width: 0px 2px 2px 0px;
    transition: border-width 150ms ease-in-out;
}
.nav-arrow:hover{
    border-bottom-width: 4px;
    border-right-width: 4px;
}
.nav-arrow-left{
    transform: rotate(135deg);
}
.nav-arrow-right{
    transform: rotate(315deg);
}

/******* Main content box *******/
#updates-box{
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* @TODO: readjust this padding after the nav arrows are added in */
    padding: 2% 5%;
}
#updates-box-nav-left{
    position: absolute;
    left: 5%;
    top: 50%;
}
#updates-box-nav-right{
    position: absolute;
    right: 5%;
    top: 50%;
}
.updates-item{
    width: 25%;
    margin: 2%;
}
.updates-item-img-container{
    position: relative;
    border-radius: 10px;
    width: 125px;
    height: 100px;
    margin: 0 auto;
}
.updates-item-img-type{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.updates-item-title{
    display: block;
    border: none;
    background: transparent;
    text-align: left;
    text-decoration: underline;
    margin: 0 auto;
    font-size: 0.8rem;
}

/******* Updates Box Detail View  *******/
#detail-view-container{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 3% 10%;
}
#detail-view-title{
    margin: 0;
}
#detail-view-img{
    /* -5% margin-top is a short term hack to get the image to align with the title */
    margin: -5% 0 0 5%;
    border-radius: 10px;
    height: 120px;
    width: 130px;
    float: right;
}
#detail-view-link{
    float: right;
    text-decoration: none;
    padding: 1%;
    border: 2px solid #2d799a;
    background: #2d799a;
    color: #f7f7f7;
    border-radius: 3px;
}
#detail-view-link:hover{
    border: 2px solid #2d799a;
    background: #f7f7f7;
    color: #2d799a;
}
#detail-view-left{
    position: absolute;
    top: 7%;
    left: 3%;
}

/******* Connect with us  *******/
#connect-with-us{
    margin-top: 5%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}
#connect-with-us h2{
    color: #2d799a;
    margin-right: 2%;
}
.connect-imgs{
    height: 25px;
    width: 25px;
}
.vr{
    border: thin solid #2d799a;
    margin: 0 1% 0 1%;
    height: 28px;
}


/******* Media Queries *******/
@media all and (max-width: 800px) {
    .updates-item{
        width: 45%;
    }
    .updates-item-img-container{
        width: 110px;
        height: 85px;
    }
    #detail-view-img{
        /* 
            subpage media query is overruling the margin and float properties which throws off the whole section on mobile
            and since the subpage jawn is has margin and float w/ !important, I can't overrule it with !important so that's cool...
        */
        margin: -10% 0 5% 5% !important;
        float: right !important;
        height: 90px;
        width: 90px;
    }
}
