/******* General Selectors *******/
body{
    font-size: 16px;
}
.shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.nav-arrow {
    border: none;
    background: #a1a1a1;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
    /* the unicode jawn isnt vertically centered but this kinda shims it */
    padding: 0px 12px 3px 12px;
    line-height: normal;
}
.nav-arrow:hover{
    background: #0078ae;
}

/******* Main content box *******/
#updates-box-container{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 2% 5%;
}
#updates-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#updates-box-nav-left{
    display: none;
}
.updates-item{
    width: 25%;
    margin: 2%;
}
.updates-item-img-container{
    position: relative;
    border-radius: 10px;
    width: 125px;
    height: 100px;
    margin: 0 auto;
}
.updates-item-img-type{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.updates-item-title{
    padding-top: 3px;
    display: block;
    border: none;
    background: transparent;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    font-size: 0.8rem;
}

/******* Updates Box Detail View  *******/
#detail-view-container{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 3% 10%;
}
#detail-view-title{
    margin: 0;
}
#detail-view-img{
    margin: 0 0 3% 3%;
    border-radius: 10px;
    width: 125px;
    height: 100px;
    float: right;
}
#detail-view-link{
    float: right;
    text-decoration: none;
    padding: 1%;
    border: 2px solid #2d799a;
    background: #2d799a;
    color: #f7f7f7;
    border-radius: 3px;
}
#detail-view-link:hover{
    border: 2px solid #2d799a;
    background: #f7f7f7;
    color: #2d799a;
}
#detail-view-left{
    position: absolute;
    top: 25px;
    left: 0;
}

/******* Connect with us  *******/
#connect-with-us{
    margin-top: 5%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}
#connect-with-us h2{
    color: #2d799a;
    margin-right: 2%;
    font-size: 1.4rem;
}
.connect-imgs{
    height: 22px;
    width: 22px;
}
.thicc-bois{
    width: 27px;
}
.vr{
    border: thin solid #2d799a;
    margin: 0 1% 0 1%;
    height: 28px;
}


/******* Media Queries *******/
/* @TODO: add a breakpoint at 916px b/c the icons start to get too squished */


@media all and (max-width: 800px) {
   
    /* Updates Box */
    .nav-arrow{
        font-size: 1.3rem;
        padding: 0px 10px 2px 10px;
    }
    .updates-item{
        width: 45%;
    }
    .updates-item-img-container{
        width: 110px;
        height: 85px;
    }

    /* Detail View */
    #detail-view-title{
        text-align: center;
        padding-top: 16px;
    }
    #detail-view-img{
        height: 90px;
        width: 90px;
    }

    /* Connect With Us */
    .connect-imgs{
        height: 20px;
        width: 20px;
    }
    .thicc-bois{
        width: 25px;
    }
    #connect-with-us h2{
        font-size: 1.1rem;
    }
}
